@model ECommerceSite.Models.Edu_Prod

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h2>Details</h2>
<div style="width:100%;height:3px; margin-top:1rem; background:black" ;></div>
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prod_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edu_Category.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edu_Category.Category)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>
